name: Actions workflow

on: [push]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Simple JS Action
        id: greet
        uses: jcastellscan/actions-hello-world-javascript-action@main
        with:
          who-to-greet: Jonathan
      - name: Log Greeting Time
        run: "${{ steps.greet.outputs.time }}"
        
      